
body{
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#helpPanel{
    display: none;
}

ul.mainMenu li{
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}

#page1{
    margin-top:7%;
}

#pageHeader{
        border: none;
    background: none;
}

#menuButton{
    border-style: none;
    border-color: none;
    background: none;
    height: 15px;

    border-style: none;
    border-bottom: none;
    margin: 0px;
    padding: 0px;
    font-size: 23px;
    height: 24px;
    background: none;
    background-image: none;
    padding: 1px;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: transparent;

}

.ui-icon-bars:after {
    background-image: none;
}

#uberguestlistTitle {
    font-size: 32px;
    margin-top: 5%;
    color: #1414DA;
    opacity: 0.6;
    text-shadow: 1px 1px #0C0C0C;
}

#eventName {
    font-weight: bold;
}

#eventButton {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    font-size: 12px;
    text-align: center;
}

#eventpasswordTitle {
    color: gray;
    font-size: 15px;
}

#guestlistForm{
    margin-top:10%;
}

.ui-btn{
    text-align: left;
    font-size: 22px;
}

#greenCheckmark{
	position:fixed;
	top: 15%;
	left: 5%;
	display: none;
}

#confirmUser{
	display: none;
}

#popupButton{
	display: none;
}

#popupDialog{
	opacity: 1.0;
  background-color: #FFFFFF;
}

#popupDialog-popup{
	opacity: 1.0;
}


#event {
	display: none;
}

#enterEventPass {
	display: none;
    margin-top:30%;
    width: 85%;
}

#loadingPage{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}​
