
body{
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.whiteTextColor{
    color: white;
    background-color: green;
}

#filterControlgroup-input{
    font-size: 30px;
}

#helpPanel{
    display: none;
    position: absolute;
    top: 25%;
    left: 5%;
}

#popupDialog{
    color: black;
    font-size: 20px;
}

ul.mainMenu li{
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}

#page1{
    margin-top:7%;
}

#pageHeader{
        border: none;
    background: none;
}

#menuButton{
    border-style: none;
    border-color: none;
    background: none;
    border-style: none;
    border-bottom: none;
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    background-image: none;
    padding: 1px;
}

#menu{
    font-size: 22px;
}

#uberguestlistlogo{
    width: 80%;
    margin-left: 19%;
    margin-top: 2%;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: transparent;

}

.ui-icon-bars:after {
    background-image: none;
}

#uberguestlistTitle {
    font-size: 32px;
    margin-top: 5%;
    color: #1414DA;
    opacity: 0.6;
    text-shadow: 1px 1px #0C0C0C;
}

#eventName {
    font-weight: bold;
}

#eventButton {
    border-radius: 50% !important;
    width: 75px;
    height: 75px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

#addGuestButton {
    border-radius: 50% !important;
    width: 75px;
    height: 75px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

#addCheckedGuestNumberButton {
    float: right;
    margin-top: -10px;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
}

#eventpasswordTitle {
    color: gray;
    font-size: 18px;
}

#addGuestTitle {
    color: gray;
    font-size: 18px;
}

#guestlistForm{
    margin-top:10%;
    clear: both;
}

.ui-btn{
    text-align: left;
    font-size: 22px;
}

#greenCheckmark{
	position:fixed;
	top: 15%;
	left: 5%;
	display: none;
}

#confirmUser{
	display: none;
}

#popupButton{
	display: none;
}

#popupDialog{
	opacity: 1.0;
  background-color: #FFFFFF;
}

#popupDialog-popup{
	opacity: 1.0;
}


#event {
	display: none;
}

#enterEventPass {
	display: none;
    margin-top:30%;
    width: 95%;
    font-size: 26px;
}

#loadingPage{
    position: absolute;
    top: 50%;
    left: 50%;
}​
